config
.project
.settings
.classpath
.cache
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/
*/bin/
bin
codegen/
*Generated*/
test-output/
*/.target
target
.target
*/target
logs
.cache
dist
project/project
project/target
tmp
.history
.idea_modules
RUNNING_PID
.svn
.DS_Store
