.wvyp {
  padding: 10px 0;
  margin: 80px auto;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  width: 318px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 14px;
}

.wvyp-count {
  color: #0077b5;
}

.search-count {
  color: #333;
}

.large-number {
  font-size: 31px;
  float: left;
  margin: 5px 12px 0 0;
}

#wvypCount, #searchCount {
  height: 28px;
}