.wvyu {
  padding: 10px 0;
  margin: 80px auto;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  width: 318px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  height: 100px;
}

.likes-count {
  color: #0077b5;
}

.comments-count {
  color: #333;
}

#likesCount, #commentsCount {
  height: 28px;
  display: inline-block;
}

.count {
  font-size: 31px;
  line-height: 34px;
}